// General

.innerWrapper {
    width: 85%;
    margin: 0 auto;
}

// Header 

.blogHeader {
    background:url(../assets/blog-header.jpg) top center/cover no-repeat $primaryBackground;
    width:100%;
    height:65vh;
}

.mainHeaderBlog h1 {
    width: calc(60% - 25px);
    text-align: left;
    margin-top:5%;

}

// Main 

.mainSection {
    background-color: $primaryBackground;
    padding:50px 0;
}

.blogContent{
    display: flex;
        aside {
            width: calc(40% - 25px);
            margin-right:25px;
        }

        .blogSection {
            width: calc(60% - 25px);
            margin-left:25px;
            position: relative;
            top:-250px;
            margin-bottom: -250px;
        }
}


// ASIDE 

.asideAboutSection {
    background-color: $white;
    padding:20px;   
        .asideImage {
            background:url(../assets/side-blog-image.jpg) center /cover no-repeat $white;
            height:400px;
            width: 180%;
            position: relative;
            top:-40px;  
            left:-80%;
        }
        .aboutDescription {
            margin:10px 0 50px;
        }
        
        .recentPosts li::before {
            content:"•";
            width:2px;
            margin-right:10px;
            color:$secondary;
        }
}

.recentPosts a:hover {
    color:$secondary;
}


// Section - Featured Blog

.blogFeatureImage {
    background:url(../assets/blog-post-image.jpg) top center/cover no-repeat;
    width:121.6%;
    height:550px;
}

.featuredBlog h2 {
    margin-top:60px;
}

.featuredBlog h2 + p {
    margin:10px 0 40px 0;
}

// Section - Comments

.postedComment {
    display: flex;
    margin:50px 0;
        .readerComment {
            width:calc(85% - 30px);
            margin-left:30px;
        }
        .readerAvatar {
            width:15%;
        }
}

.postedComment p:first-child {
    line-height: 1;
    margin-bottom: 5px;
}

.readerImage1,
.readerImage2 {
    width:100px;
    height:100px;
}

.readerImage1 {
    background:url(../assets/comment-1.jpg) top center/cover no-repeat;
}

.readerImage2 {
    background:url(../assets/comment-2.jpg) top center/cover no-repeat;
}

