// Header 

.blogHeader {
    background:url(../assets/blogHeader.jpg) top center/contain no-repeat $primaryBackground;
    height:100vh;
}

.mainHeaderBlog h1 {
    width: calc(60% - 25px);
    margin-top:5%;
    text-align: left;
    z-index:10;
}

// Main

.mainSection {
    background-color: $primaryBackground;
}

.blogContent{
    display: flex;
        aside {
            width: calc(40% - 25px);
            margin-right:25px;
            margin-bottom:-75px;
            position: relative;
            top:-75px;
        }
        
        .blogSection {
            width: 60%;
            margin-bottom: -475px;
            position: relative;
            top:-475px;
        }
}

// Aside - About 

.asideAboutSection {
    padding:20px;   
    background-color: $white;
        .asideImage {
            width: 180%;
            height:400px;
            background:url(../assets/sideBlogImage.jpg) center /cover no-repeat $white;
            position: relative;
            top:-40px;  
            left:-80%;
        }
        .aboutDescription {
            margin:10px 0 50px;
        }
        
        .recentPosts li::before {
            content:"•";
            width:2px;
            margin-right:10px;
            color:$secondary;
        }
}

.recentPosts a:hover {
    color:$secondary;
}


// Section - Featured Blog

.FeatureImage1 {
    width:116.3%;
    height:550px;
    margin-left:4.5%; 
    background:url(../assets/blogPostImage.jpg) top center/cover no-repeat;
}

.featuredBlog {
    article {
        padding-left: 30px;
        padding-bottom: 30px;
        border:4px solid $dropShadow;
        border-right:0;
    }

    h2 {
        margin-top:60px;
    }
}

.featuredBlog h2 + p {
    margin:10px 0 40px 0;
}


// Section - Comments

.postedComment {
    margin:50px 0;
    display: flex;
        .readerComment {
            width:calc(85% - 30px);
            margin-left:30px;
        }
        
        .readerAvatar {
            width:15%;
        }
}

.postedComment p:first-child {
    line-height: 1;
    margin-bottom: 5px;
}

.readerImage1,
.readerImage2 {
    width:100px;
    height:100px;
}

.readerImage1 {
    background:url(../assets/comment1.jpg) center/cover no-repeat;
}

.readerImage2 {
    background:url(../assets/comment2.jpg) center/cover no-repeat;
}


// Media Queries 

@media (max-width:1000px) {
    .blogHeader {
        width:100%;
        height:60vh;
        background:url(../assets/blogHeader.jpg) top center/cover no-repeat $primaryBackground;
    }

    .mainHeaderBlog h1 {
        width: 100%;
        margin: 100px auto;
        text-align: center;
    }

    .blogContent{
        display: flex;
        flex-direction: column-reverse;
            aside {
                width: 100%;
                margin-right:0;
                margin-bottom:0;
                text-align: center;
                position: static;
                top:0;
            }

            .blogSection {
                width: 100%;
                margin-bottom:0;
                position: static;
                top:0;
            }
    }

    .FeatureImage1 {
        width:100%;
        margin:30px;
    }

    .asideAboutSection {  
        .asideImage {
            width: 100%;
            position: static;
            top:0;  
            left:0;
        }

        .aboutDescription {
            margin:15px 0;
        }    
    }
}

@media (max-width:600px) {
    .FeatureImage1 {
        background-position: top right;
        height:400px;
      }
}

@media (max-width:700px) {
    .postedComment {
        display: flex;
        margin:50px 0;
            .readerAvatar {
                width:25%;
            }

            .readerComment {
                width:calc(75% - 20px);
                margin-left:20px;

                p   {
                line-height: 1.2;
            }
        }
    }
}

@media (max-width:400px) {
    .asideAboutSection {
        .asideImage {
             height:250px;
        }
    }
}

@media (max-height:700px) and (min-width:1400px) {
    .blogContent .blogSection {
            top:-300px;
            margin-bottom: -300px;
        }
}
