// General

.contactMainSection {
    background-color: $primaryBackground;
}

.contactInformation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    top:-220px; 
        .contactForm {
            width: calc(70% - 50px);
            margin-left: 50px;
        }

        .additionalContactInfo {
            width: 30%;
        }
}

// Header
    
.contactHeader {
    background:url(../assets/contactHeader.jpg) top center/cover no-repeat $primaryBackground;
    height:70vh;
}
    
.mainHeaderContact h1 {
    width: calc(75% - 60px);
    text-align: left;
    margin-top:8%;
}
// ^ width is set to this so that is h1 aligns with form element
    

// Form

.formMessages {
    width:110%;
    padding:25px;
    background-color: $white;
}

// Additional Contact Info

.socialIcons ul {
    display: flex;
        li {
            margin-right:15px;

            i {
                font-size: 1.25rem;
            }
    } 
}

.contactEmail {
    margin:10px 0;
}
    
    
// Media Queries
    
@media (max-width:1200px) {
    .contactInformation {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
            .contactForm {
                width: 70%;
                margin-left:0;
            }
            
            .additionalContactInfo {
                width: 70%;
                margin-top:75px;
                text-align: center;  
            }
    }
     
    .socialIcons ul {
        display: flex;
        justify-content:center;
    }
}

@media (max-width:900px) {
   
    .contactHeader {
        background-position:25%;
        height:450px;
    }

    .contactMainSection {
        padding-top:40px;
    }

    .contactInformation {
        position:static;
        justify-content: center;
            .contactForm {
                width: 100%;
                margin:0;
            }
            .additionalContactInfo {
                width: 100%;
                margin:75px 0;    
            }
    }

    .formMessages {
        padding:10px;
        margin:10px;
        width:100%;
    }   
}


@media (max-width:750px) {
    .mainHeaderContact h1 {
        margin-top:30%;
    }
}