// Header

.contactHeader {
     background:url(../assets/contact-header.jpg) top center/cover no-repeat $primaryBackground;
     width:100%;
     height:70vh;
}

.mainHeaderContact h1 {
    width: calc(75% - 60px);
    text-align: left;
    margin-top:8%;
}

.contactMainSection {
    background-color: $primaryBackground;
}

.contactInformation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    top:-220px; 
        .contactForm {
            width: calc(70% - 50px);
            margin-left: 50px;
        }
        .additionalContactInfo {
            width: 30%;
        }
}

.formMessages {
    background-color: $white;
    padding:25px;
    width:110%;
}

.socialIcons ul {
    display: flex;
        li {
            margin-right:15px;
        }

        i {
            font-size: 1.25rem;
        }
}

.contactEmail {
    margin:10px 0;
}


// ? Media Queries 

@media (max-width:1200px) {
    .contactInformation {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
            .contactForm {
                width: 70%;
                margin-left:0;
            }
            .additionalContactInfo {
                width: 70%;
                margin-top:75px;
                text-align: center;  
            }
    }
     
    .socialIcons ul {
        display: flex;
        justify-content:center;
    }
}

@media (max-width:900px) {
    .contactHeader {
        background:url(../assets/contact-header.jpg) 25%/cover no-repeat $primaryBackground;
        height:100vh;
    }

    .contactMainSection {
        padding-top:40px;
    }

    .contactInformation {
        position:static;
        justify-content: center;
            .contactForm {
                width: 100%;
                margin:0;
            }
            .additionalContactInfo {
                width: 100%;
                margin-top:75px;    
            }
    }

    .formMessages {
        padding:10px;
        margin:10px;
        width:100%;
    }   
}
