fieldset {
    border: none;
   
}
input[type=text],
input[type=email] {
    width: calc((100% - 30px) / 2);
    padding:10px 15px;
    margin:20px 0;
    float:left;
    border:none;
    border-bottom: 2px solid $secondary;
    background-color:transparent;
}

input[type=text] {
    margin-right:30px;
}

input[type=email] {
    margin-right:0;
}

textarea {
    width:100%;
    padding:15px;
    resize: none;
    border: 2px solid $secondary;
    margin:10px 0;
    background-color:transparent;
}

input[type=submit] {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase; 
    border:none;
    margin:3% 0;
    padding:5px;   
    width:100%;
    background-color:$secondary;

}

input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=submit]::placeholder,
textarea::placeholder {
    color:black;
    opacity: 1;
}

// Media Queries

@media (max-width:850px) {
    input[type=text],
    input[type=email] {
        width: 100%;
        margin:0;
        margin-bottom: 10px;
        float:none;
    }
}

