@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

fieldset {
  border: none; }

input[type=text],
input[type=email] {
  width: calc((100% - 30px) / 2);
  padding: 10px 15px;
  margin: 20px 0;
  float: left;
  border: none;
  border-bottom: 2px solid #4ceea7;
  background-color: transparent; }

input[type=text] {
  margin-right: 30px; }

input[type=email] {
  margin-right: 0; }

textarea {
  width: 100%;
  padding: 15px;
  resize: none;
  border: 2px solid #4ceea7;
  margin: 10px 0;
  background-color: transparent; }

input[type=submit] {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  border: none;
  margin: 3% 0;
  padding: 5px;
  width: 100%;
  background-color: #4ceea7; }

input[type=text]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=submit]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: black;
  opacity: 1; }

input[type=text]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=submit]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: black;
  opacity: 1; }

input[type=text]::-ms-input-placeholder,
input[type=email]::-ms-input-placeholder,
input[type=submit]::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: black;
  opacity: 1; }

input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=submit]::placeholder,
textarea::placeholder {
  color: black;
  opacity: 1; }

@media (max-width: 850px) {
  input[type=text],
  input[type=email] {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    float: none; } }

html {
  font-size: 125%; }

body {
  font-size: 20px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  line-height: 32px; }

p {
  margin: 0;
  padding: 0; }

.pageTitle {
  font-size: 80px;
  font-size: 4rem;
  font-family: 'Playfair Display', serif;
  color: #2c2c2c;
  text-transform: uppercase;
  width: 100%;
  line-height: 92px;
  text-align: center; }

h1 {
  margin: 0;
  padding: 0; }

h2,
h3 {
  letter-spacing: 1px; }

h2 {
  font-size: 42px;
  font-size: 2.1rem;
  font-family: 'Playfair Display', serif;
  color: #2c2c2c;
  text-transform: uppercase;
  margin: 0;
  padding: 0; }

h3 {
  font-size: 32px;
  font-size: 1.6rem;
  font-family: 'Playfair Display', serif;
  color: #2c2c2c;
  text-transform: uppercase;
  margin: 12px 0;
  padding: 0; }

i {
  font-size: 1rem; }

nav {
  font-size: 20px;
  font-size: 1rem;
  font-family: 'Playfair Display', serif;
  color: #2c2c2c;
  text-transform: uppercase;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1px; }

.linkButton {
  font-size: 20px;
  font-size: 1rem;
  font-family: 'Playfair Display', serif;
  color: #2c2c2c;
  text-transform: uppercase;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px; }

.inlineLink {
  font-weight: 700;
  font-style: italic; }

.companyName {
  font-size: 138px;
  font-size: 6.9rem;
  font-family: 'Playfair Display', serif;
  color: #2c2c2c;
  text-transform: uppercase;
  text-align: center; }

.asideTitle {
  font-size: 26px;
  font-size: 1.3rem;
  font-family: 'Playfair Display', serif;
  color: #2c2c2c;
  text-transform: uppercase; }

input[type=text]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder {
  font-size: 20px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize; }

input[type=text]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder {
  font-size: 20px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize; }

input[type=text]::-ms-input-placeholder,
input[type=email]::-ms-input-placeholder {
  font-size: 20px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize; }

input[type=text]::placeholder,
input[type=email]::placeholder {
  font-size: 20px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize; }

.contactEmail {
  font-size: 26px;
  font-size: 1.3rem;
  font-family: 'Playfair Display', serif;
  color: #2c2c2c;
  text-transform: uppercase;
  letter-spacing: 1.1px; }

@media (max-width: 1350px) {
  .companyName {
    font-size: 95px;
    font-size: 4.75rem;
    font-family: 'Playfair Display', serif;
    color: #2c2c2c;
    text-transform: uppercase; } }

@media (max-width: 1100px) {
  .companyName {
    font-size: 45px;
    font-size: 2.25rem;
    font-family: 'Playfair Display', serif;
    color: #2c2c2c;
    text-transform: uppercase; }
  .pageTitle {
    font-size: 60px;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    color: #2c2c2c;
    text-transform: uppercase; } }

@media (max-width: 800px) {
  body {
    font-size: 16px;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif; }
  .companyName {
    text-align: right; }
  h2 {
    font-size: 30px;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    color: #2c2c2c;
    text-transform: uppercase; }
  input[type=text]::-webkit-input-placeholder,
  input[type=email]::-webkit-input-placeholder {
    font-size: 16px;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif; }
  input[type=text]:-ms-input-placeholder,
  input[type=email]:-ms-input-placeholder {
    font-size: 16px;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif; }
  input[type=text]::-ms-input-placeholder,
  input[type=email]::-ms-input-placeholder {
    font-size: 16px;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif; }
  input[type=text]::placeholder,
  input[type=email]::placeholder {
    font-size: 16px;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif; } }

@media (max-width: 500px) {
  .pageTitle {
    font-size: 35px;
    font-size: 1.75rem;
    font-family: 'Playfair Display', serif;
    color: #2c2c2c;
    text-transform: uppercase;
    line-height: 1.4; } }

.blogHeader {
  background: url(../assets/blog-header.jpg) top center/contain no-repeat #effdf3;
  width: 100%;
  height: 100vh; }

.mainHeaderBlog h1 {
  width: calc(60% - 25px);
  text-align: left;
  margin-top: 5%;
  z-index: 10; }

.mainSection {
  background-color: #effdf3; }

.blogContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .blogContent aside {
    width: calc(40% - 25px);
    margin-right: 25px;
    position: relative;
    top: -75px;
    margin-bottom: -75px; }
  .blogContent .blogSection {
    width: 60%;
    position: relative;
    top: -475px;
    margin-bottom: -475px; }

.asideAboutSection {
  background-color: #fafafa;
  padding: 20px; }
  .asideAboutSection .asideImage {
    background: url(../assets/side-blog-image.jpg) center/cover no-repeat #fafafa;
    height: 400px;
    width: 180%;
    position: relative;
    top: -40px;
    left: -80%; }
  .asideAboutSection .aboutDescription {
    margin: 10px 0 50px; }
  .asideAboutSection .recentPosts li::before {
    content: "•";
    width: 2px;
    margin-right: 10px;
    color: #4ceea7; }

.recentPosts a:hover {
  color: #4ceea7; }

.FeatureImage1 {
  background: url(../assets/blog-post-image.jpg) top center/cover no-repeat;
  height: 550px;
  width: 116.5%;
  margin-left: 30px; }

.featuredBlog article {
  padding-left: 30px;
  padding-bottom: 30px; }

.featuredBlog h2 {
  margin-top: 60px; }

.featuredBlog h2 + p {
  margin: 10px 0 40px 0; }

.featuredBlog article {
  border: 4px solid #fdfa69;
  border-right: 0; }

.postedComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0; }
  .postedComment .readerComment {
    width: calc(85% - 30px);
    margin-left: 30px; }
  .postedComment .readerAvatar {
    width: 15%; }

.postedComment p:first-child {
  line-height: 1;
  margin-bottom: 5px; }

.readerImage1,
.readerImage2 {
  width: 100px;
  height: 100px; }

.readerImage1 {
  background: url(../assets/comment-1.jpg) center/cover no-repeat; }

.readerImage2 {
  background: url(../assets/comment-2.jpg) center/cover no-repeat; }

@media (max-width: 1000px) {
  .blogHeader {
    background: url(../assets/blog-header.jpg) top center/cover no-repeat #effdf3;
    width: 100%;
    height: 75vh; }
  .mainHeaderBlog h1 {
    width: 100%;
    text-align: center; }
  .blogContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    .blogContent aside {
      width: 100%;
      text-align: center;
      margin-right: 0;
      position: static;
      top: 0;
      margin-bottom: 0; }
    .blogContent .blogSection {
      width: 100%;
      position: static;
      top: 0;
      margin-bottom: 0; }
  .FeatureImage1 {
    width: 100%;
    margin: 30px; }
  .asideAboutSection .asideImage {
    width: 100%;
    position: static;
    top: 0;
    left: 0; }
  .asideAboutSection .aboutDescription {
    margin: 15px 0; } }

@media (max-width: 600px) {
  .FeatureImage1 {
    background-position: top right;
    height: 400px; } }

@media (max-width: 700px) {
  .postedComment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 50px 0; }
    .postedComment .readerComment {
      width: calc(75% - 20px);
      margin-left: 20px; }
    .postedComment p {
      line-height: 1.2; }
    .postedComment .readerAvatar {
      width: 25%; } }

@media (max-width: 400px) {
  .asideAboutSection .asideImage {
    height: 250px; } }

.contactHeader {
  background: url(../assets/contact-header.jpg) top center/cover no-repeat #effdf3;
  width: 100%;
  height: 70vh; }

.mainHeaderContact h1 {
  width: calc(75% - 60px);
  text-align: left;
  margin-top: 8%; }

.contactMainSection {
  background-color: #effdf3; }

.contactInformation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
  top: -220px; }
  .contactInformation .contactForm {
    width: calc(70% - 50px);
    margin-left: 50px; }
  .contactInformation .additionalContactInfo {
    width: 30%; }

.formMessages {
  background-color: #fafafa;
  padding: 25px;
  width: 110%; }

.socialIcons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .socialIcons ul li {
    margin-right: 15px; }
  .socialIcons ul i {
    font-size: 1.25rem; }

.contactEmail {
  margin: 10px 0; }

@media (max-width: 1200px) {
  .contactInformation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .contactInformation .contactForm {
      width: 70%;
      margin-left: 0; }
    .contactInformation .additionalContactInfo {
      width: 70%;
      margin-top: 75px;
      text-align: center; }
  .socialIcons ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 900px) {
  .contactHeader {
    background: url(../assets/contact-header.jpg) 25%/cover no-repeat #effdf3;
    height: 100vh; }
  .contactMainSection {
    padding-top: 40px; }
  .contactInformation {
    position: static;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .contactInformation .contactForm {
      width: 100%;
      margin: 0; }
    .contactInformation .additionalContactInfo {
      width: 100%;
      margin-top: 75px; }
  .formMessages {
    padding: 10px;
    margin: 10px;
    width: 100%; } }

.wrapper {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto; }

.mainHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

img {
  max-width: 100%;
  width: 100%; }

a {
  text-decoration: none;
  color: #2c2c2c; }

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.linkButton {
  display: inline-block;
  background-color: #4ceea7;
  padding: 10px;
  margin-top: 20px;
  width: 200px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .linkButton:hover {
    background-color: #a9f7d5; }

.dropShadowLeft {
  -webkit-box-shadow: -30px 30px 0px 0px #fdfa69;
  box-shadow: -30px 30px 0px 0px #fdfa69; }

.dropShadowRight {
  -webkit-box-shadow: 30px 30px 0px 0px #fdfa69;
  box-shadow: 30px 30px 0px 0px #fdfa69; }

nav li {
  margin: 20px 50px 20px 0;
  padding: 10px 0;
  float: left; }
  nav li a {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  nav li:hover {
    border-bottom: 2px solid #4ceea7;
    padding-bottom: 5px; }

nav li:last-child {
  margin-right: 0; }

.hamburgerNav span {
  background-color: #2c2c2c;
  width: 42px;
  height: 4px;
  margin: 0 0 7px;
  border-radius: 2px 2px 2px 2px;
  border: 1px solid #2c2c2c;
  display: block; }

.hamburgerNav {
  position: absolute;
  top: 15px;
  right: 20px;
  visibility: hidden; }

.headerHome {
  background: url(../assets/header-image.jpg) top/cover no-repeat #effdf3;
  width: 100%;
  height: 100vh; }

.companyName {
  width: 100%;
  z-index: 20;
  text-align: center;
  position: absolute;
  top: 75%;
  left: 1%;
  right: 1%; }

.headerBoxImage {
  background: url(../assets/header-box-image.jpg) top center/cover no-repeat #fafafa;
  border: 40px solid #fdfa69;
  border-right: 0;
  width: 40%;
  height: 620px;
  position: absolute;
  top: 28%;
  right: 0;
  z-index: 10; }

.about {
  background-color: #effdf3;
  text-align: center;
  padding: 200px 0; }
  .about h2 {
    margin: 25px; }
  .about p {
    text-align: left;
    margin: 0 50px; }

.articlePreview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .articlePreview .articleImage {
    width: 60%;
    position: relative; }
  .articlePreview .articleInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 46%;
    padding: 60px 0; }

.article2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }
  .article2 .articleInfo h3 {
    text-align: right; }
  .article2 .articleInfo a {
    -ms-flex-item-align: end;
    align-self: flex-end; }

.articleImage1 {
  background: url(../assets/left-image.jpg) center/cover no-repeat;
  top: -30px;
  left: -12.5%; }

.articleImage2 {
  background: url(../assets/right-image.jpg) center/cover no-repeat;
  bottom: -30px;
  right: -12.5%; }

.sectionLinks {
  background-color: #effdf3;
  padding: 100px 0; }

.capturedLinkList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .capturedLinkList li {
    width: 49%;
    margin: 2% 0; }

.linkOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .linkOptions:hover {
    background: #4ceea7; }
  .linkOptions .linkIcon {
    width: 10%; }
  .linkOptions .linkDescription {
    width: 90%; }

.linkIcon {
  margin: 12px 0; }
  .linkIcon i {
    display: inline-block;
    border: 2px solid #4ceea7;
    color: #2c2c2c;
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: #4ceea7;
    border-radius: 50%; }

.BackgroundImageMap {
  width: 100%;
  height: 400px;
  background: url(../assets/banner.jpg) center/cover no-repeat #201e21; }

.sectionProfile {
  padding: 70px 0;
  background-color: #effdf3; }

.monthlyProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }
  .monthlyProfile .monthlyProfileImage {
    width: 25%;
    height: 300px;
    background: url(../assets/small-box.jpg) center/cover no-repeat #201e21; }
  .monthlyProfile .monthlyProfileInfo {
    width: calc(75% - 60px);
    margin-left: 60px; }
    .monthlyProfile .monthlyProfileInfo h2 {
      margin: 0 0 30px 0; }

.gallery {
  padding: 50px 0; }

.galleryImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }
  .galleryImages img {
    margin-right: 25px; }
  .galleryImages img:last-child {
    margin-right: 0; }

footer {
  background-color: #2c2c2c; }

footer p {
  color: #fafafa;
  text-align: center; }

.pageFooter {
  width: 100%;
  height: 30px;
  background-color: #2c2c2c; }

@media (max-width: 1100px) {
  .headerHome {
    background: url(../assets/header-image.jpg) 25%/cover no-repeat #effdf3; }
  .headerBoxImage {
    display: none; }
  .about {
    padding: 75px 0; }
  .capturedLinkList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .capturedLinkList li {
      width: 100%; }
  .linkOptions {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .monthlyProfile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .monthlyProfile .monthlyProfileImage {
      width: 90%;
      height: 300px;
      background-position: top center; }
    .monthlyProfile .monthlyProfileInfo {
      width: 100%;
      margin: 40px 0;
      text-align: center; }
      .monthlyProfile .monthlyProfileInfo h2 {
        margin-bottom: 10px; } }

@media (max-width: 850px) {
  nav {
    visibility: hidden; }
  .hamburgerNav {
    visibility: visible; }
  .articlePreview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .articlePreview .articleImage {
      width: 100%;
      height: 300px; }
    .articlePreview .articleInfo {
      width: 100%;
      padding: 20px 0; }
  .article2 .articleInfo h3 {
    margin-top: 70px; } }

@media (max-width: 700px) {
  .about p {
    margin: 0 10px; }
  .sectionLinks {
    padding: 50px 0; }
  .linkOptions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin: 10px 0; }
    .linkOptions .linkIcon {
      width: 100%; }
    .linkOptions .linkDescription {
      width: 100%; }
  .BackgroundImageMap {
    height: 250px; }
  .gallery img:last-child {
    display: none; } }

@media (max-width: 500px) {
  header {
    height: 600px; } }
