@import "setup";
@import "colors";
@import "forms";
@import "typography";
@import "blog";
@import "contact";

// General 

.wrapper {
    width:80%;
    max-width:1440px;
    margin: 0 auto;
}

.mainHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

img {
    max-width: 100%;
    width:100%;
}

a {
    text-decoration: none;
    color:$black;

}

ul,
li{
    list-style-type: none;
    margin:0;
    padding:0;
}

.linkButton { 
    display: inline-block;
    background-color:$secondary;
    padding:10px;
    margin-top:20px;
    width: 200px;
    transition: all 0.5s ease;
        &:hover {
            background-color:lighten($secondary, 20)
        }
    }
    
.dropShadowLeft {
    box-shadow: -30px 30px 0px 0px $dropShadow;
}

.dropShadowRight {
    box-shadow: 30px 30px 0px 0px $dropShadow;
}
    
// NAV

nav {
    li {
    margin:20px 50px 20px 0;
    padding:10px 0;
    float:left;
        a {
            transition: all 0.3s ease;  
        }
        &:hover {
            border-bottom: 2px solid $secondary;
            padding-bottom: 5px;
        }
    }
}

nav li:last-child{
    margin-right: 0;
}

.hamburgerNav span {
    background-color:$black;
    width:42px;
    height:4px;
    margin:0 0 7px;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid $black;
    display:block;
}

.hamburgerNav {
    position: absolute;
    top: 15px;
    right: 20px;
    visibility: hidden;
}

// HOME PAGE

.headerHome {
    background:url(../assets/header-image.jpg) top /cover no-repeat $primaryBackground;
    width:100%;
    height:100vh;
}

.companyName {
    width:100%;
    z-index:20;
    text-align: center;
    position: absolute;
    top:75%;
    left:1%;
    right:1%;
}

.headerBoxImage {
    background:url(../assets/header-box-image.jpg) top center /cover no-repeat $white;
    border: 40px solid $dropShadow;
    border-right: 0;
    width:40%;
    height: 620px;
    position: absolute;
    top:28%;
    right:0;
    z-index:10;
}

// Section - About 

.about {
    background-color: $primaryBackground;
    text-align: center;
    padding:200px 0;
        h2 {
            margin:25px;
        }
        p {
            text-align: left;
            margin:0 50px;
        }
}

// Articles 

.articlePreview {
    display: flex;
    justify-content: space-between;
        .articleImage {
            width:60%;
            position: relative;
        }
        .articleInfo {
            display: flex;
            flex-direction: column;
            width:46%;
            padding:60px 0;
        }
}

.article2{
    flex-direction: row-reverse;
        .articleInfo h3 {
            text-align: right;
        }       
        .articleInfo a {
        align-self: flex-end;
        } 
}

.articleImage1 {
    background:url(../assets/left-image.jpg) center/cover no-repeat;
    top:-30px;
    left:-12.5%;
}

.articleImage2 {
    background:url(../assets/right-image.jpg) center/cover no-repeat;
    bottom:-30px;
    right:-12.5%;
}

// Section - Captured Links

.sectionLinks {
    background-color: $primaryBackground;
    padding:100px 0;
}

.capturedLinkList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
        li {
            width: 49%;
            margin:2% 0;
        }
}

.linkOptions {
    display: flex;

    &:hover {
        background:$secondary;
        
    }
        .linkIcon {
            width:10%;
        }
        .linkDescription {
            width:90%;
        }
}

.linkIcon {
    margin:12px 0;
    i {
        display: inline-block;
        border: 2px solid $secondary;
        color: $black;
        font-size: 1.2rem;
        line-height: 1.4;
        text-align: center;
        width:40px;
        height:40px;
        background-color: $secondary;
        border-radius: 50%; 
    }   
}

// Background Image (Map)

.BackgroundImageMap {
    width:100%;
    height:400px;
    background:url(../assets/banner.jpg) center/cover no-repeat #201e21;
}


// Section - Monthly Profile 


.sectionProfile {
    padding: 70px 0;
    background-color: $primaryBackground;
}

.monthlyProfile {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
        .monthlyProfileImage {
            width:25%;
            height:300px;
             background:url(../assets/small-box.jpg) center/cover no-repeat #201e21;
        }
        .monthlyProfileInfo {
            width: calc(75% - 60px);
            margin-left:60px;
                h2 {
                    margin:0 0 30px 0;
                }
        }
}

// Section - Gallery

.gallery {
    padding:50px 0;
}

.galleryImages {
    display: flex;
    flex: 1 0 auto;
        img {
            margin-right:25px;
        }
        img:last-child {
            margin-right:0;
        }
}

// Footer 

footer {
    background-color: $black;
}

footer p {
    color:$white;
    text-align: center;
}

.pageFooter {
    width:100%;
    height:30px;
    background-color:$black;
}


// ? Media Queries 

@media (max-width:1100px) {
    .headerHome {
        background:url(../assets/header-image.jpg) 25% /cover no-repeat $primaryBackground;
    }

    .headerBoxImage {
        display: none;
    }

    .about {
        padding:75px 0;

    }

    .capturedLinkList {
        display: flex;
        flex-direction: column;
            li {
                width: 100%;
            }
    }

    .linkOptions {
        align-items: center;
    }

    .monthlyProfile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
            .monthlyProfileImage {
                width:90%;
                height:300px;
                background-position:top center;
            }
            .monthlyProfileInfo {
                width: 100%;
                margin:40px 0;
                text-align: center;
                    h2 {
                        margin-bottom:10px;
                    }
            }
    }
}
        
@media (max-width:850px) {
    nav {
        visibility: hidden;
    }
    
    .hamburgerNav {
        visibility: visible;
    }

    .articlePreview {
        flex-direction: column;
            .articleImage {
                width:100%;
                height:300px;
            }
            .articleInfo {
                width:100%;
                padding:20px 0;
            }
    }

    .article2{
            .articleInfo h3 {
                margin-top:70px;
            }          
}

}

@media (max-width:700px) { 

    .about p {
        margin:0 10px;
    }

    .sectionLinks {
        padding:50px 0;
    }

    .linkOptions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin:10px 0;
            .linkIcon {
                width:100%;
            }
            .linkDescription {
                width:100%;
            }
    }

    .BackgroundImageMap {
        height:250px;
    }

    .gallery img:last-child {
        display:none;
    }
}

@media (max-width:500px) {
    header {
        height:600px;
    }
}
