@import "setup";
@import "colors";
@import "forms";
@import "typography";
@import "blog";


// General 

.wrapper {
    width:80%;
    max-width:1440px;
    margin: 0 auto;
    // background-color: rgba(243, 225, 237, 0.685);
}


img {
    max-width: 100%;
    width:100%;
}

a {
    text-decoration: none;
    color:$black;

}

ul,
li{
    list-style-type: none;
    margin:0;
    padding:0;
}

.linkButton { 
    display: inline-block;
    background-color:$secondary;
    padding:10px;
    margin-top:20px;
    width: 200px;
    transition: all 0.5s ease;
        &:hover {
            background-color:lighten($secondary, 20)
        }
}

.dropShadowLeft {
    box-shadow: -30px 30px 0px 0px $dropShadow;
}

.dropShadowRight {
    box-shadow: 30px 30px 0px 0px $dropShadow;
}
    
// NAV

nav {
    li {
    margin:20px 50px 20px 0;
    padding:10px 0;
    float:left;
        a {
            transition: all 0.3s ease;  
        }
        &:hover {
            border-bottom: 2px solid $secondary;
            padding-bottom: 5px;
        }
    }
}

nav li:last-child{
    margin-right: 0;
}

// HOME PAGE

.homeHeader {
    background:url(../assets/header-image.jpg) top center/contain no-repeat $primaryBackground;
    width:100%;
    height:100vh;
}

.headerMainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.companyName {
    width:100%;
    margin-top:40%;
    z-index:20;
}

.headerImage {
    background:url(../assets/header-box-image.jpg) bottom right/cover no-repeat;
    border: 40px solid $dropShadow;
    border-right: 0;
    width:640px;
    height: 620px;
    z-index:10;
    position: absolute;
    top:28%;
    right:0;
}

// Section - About 

.about {
    padding:150px 0;
}

.about {
    background-color: $primaryBackground;
    text-align: center;
        p {
            text-align: left;
        }
}


// Articles 
.articlePreview {
    display: flex;
    justify-content: space-between;
        .articleImage {
            width:60%;
        }
        .articleInfo {
            width:46%;
            padding:60px 0;

        }
}

.article2{
    flex-direction: row-reverse;
}

.article2 .articleInfo h3 {
    text-align: right;
}

.articleImage1 {
    background:url(../assets/left-image.jpg) center/cover no-repeat;
    position: relative;
    top:-30px;
    left:-12.5%;

}

.articleImage2 {
    background:url(../assets/right-image.jpg) center/cover no-repeat;
    position: relative;
    bottom:-30px;
    right:-12.5%;
}


// Section - Captured Links
// ! The circles are not all the same shape because they are different sizes - Also need to adjust the margins


.capturedLinks {
    background-color: $primaryBackground;
    padding:100px 0;
}

.capturedLinksContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
        .capturedLinksInfo {
            width: 50%;
            display: flex;
        }
            .linkIcon {
                width:20%;
            }

            .linkDescriptio {
                width:80%;
            }
}

.capturedLinks i {
    color: $black;
    padding:10px;
    background-color: $secondary;
    border-radius: 50%;
}


// Full width image

.monthlyProfileBackgroundImage {
    width:100%;
    height:400px;
    background:url(../assets/banner.jpg) center/cover no-repeat #201e21;
}


// Section - Monthly Profile 
// ! Alignment of the boxes is off

.monthlyProfile {
    padding: 50px 0;
    background-color: $primaryBackground;
}

.monthlyProfileContent {
    display: flex;
    flex-direction: row;
        .monthlyProfileImage {
            width:30%;
            height:350px;
             background:url(../assets/small-box.jpg) center/cover no-repeat #201e21;
        }
        .monthlyProfileInfo {
            width: calc(70% - 60px);
            margin-left:60px;
        }
}

// Section - Gallery

.gallery {
    padding:50px 0;
}

.galleryImages {
    display: flex;
        img {
            margin-right:25px;
        }
        img:last-child {
            margin-right:0;
        }
}

// Footer 

footer {
    background-color: $black;
}

footer p {
    color:$white;
    text-align: center;
}